<mat-nav-list>
  <a [routerLink]="['/', 'dashboard']" mat-list-item>
    <mat-icon class="sidenav-icon">dashboard</mat-icon>
    <span>Inicio</span>
  </a>
  <a [routerLink]="['/', 'dynamic']" mat-list-item>
    <mat-icon class="sidenav-icon">people</mat-icon>
    <span>Afiliados</span>
  </a>
  <div class="nested-menu">
    <a mat-list-item (click)="showMenu = !showMenu">
      <mat-icon class="sidenav-icon">list</mat-icon>Tablas
    </a>
    <ul class="nested submenu" [class.expand]="showMenu">
      <li>
        <a [routerLink]="['/', 'dynamic', 'companies']" href="javascript:void(0)" mat-list-item>
          <mat-icon class="sidenav-icon">table_view</mat-icon>
          <span>Compañias</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/', 'dynamic',  'cities']" href="javascript:void(0)" mat-list-item>
          <mat-icon class="sidenav-icon">table_view</mat-icon>
          <span>Ciudades</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/', 'dynamic',  'departments']" href="javascript:void(0)" mat-list-item>
          <mat-icon class="sidenav-icon">table_view</mat-icon>
          <span>Departamentos</span>
        </a>
      </li>
    </ul>
  </div>
  <!--<a
    *ngFor="let item of routes"
    mat-list-item
    [routerLinkActive]="'active'"
    [routerLink]="['/', item.path]"
  >
    <mat-icon class="sidenav-icon">{{ item.data.icon }}</mat-icon>
    {{ item.data.text }}
  </a>-->
</mat-nav-list>
