<section id="sample-table" class="padding-20 mat-elevation-z8 bg-white">

  <div class="flex-cta-with-title">
    <h2>Compañias</h2>
    <button mat-raised-button color="primary" class="flex-cta" (click)="showForm=!showForm">
      {{ !showForm ? 'Crear' : 'ver' }} Compañias
    </button>
  </div>
  
  <main *ngIf="!showForm">
    <app-dynamic-table></app-dynamic-table>
  </main>
  
  <main *ngIf="showForm">
    <dynamic-form-builder [fields]="getFields()"></dynamic-form-builder>
  </main>

</section>
